/*****************************FONTS*****************************/
@font-face{
    font-family: 'NHaas-Roman';
    src: url(fonts/NeueHaasDisplay-Roman.ttf);
    font-weight: normal;
    font-style: normal;   
}
@font-face{
    font-family: 'NHaas-Roman-Italic';
    src: url(fonts/NeueHaasDisplay-RomanItalic.ttf);
    font-weight: normal;
    font-style: normal;   
}

@font-face{
    font-family: 'NHaas-Light';
    src: url(fonts/NeueHaasDisplay-Light.ttf);
    font-weight: normal;
    font-style: normal;   
}

@font-face{
    font-family: 'NHaas-Light-Italic';
    src: url(fonts/NeueHaasDisplay-LightItalic.ttf);
    font-weight: normal;
    font-style: normal;   
}

@font-face{
    font-family: 'Denton-Reg';
    src: url(fonts/DentonTest-Regular.otf);
    font-weight: normal;
    font-style: normal;   
}

@font-face{
    font-family: 'Denton-Thin';
    src: url(fonts/DentonTest-Thin.otf);
    font-weight: normal;
    font-style: normal;   
}


/****************************MAIN-PAGE****************************/

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}


.split {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: scroll;
    padding-top: 20px;
}


/*** LEFT SIDE ***/

.left {
    left: 0;
    width: 60%;
    position: fixed;
}

/* HEADER*/

#header {
    width: 60%;
    display: inline-block;
    height: auto;
    display: flex;
    flex-direction: row;
    text-shadow: 0px 0px 4px #282828;
    position: fixed;
}


h1{
    font-size: 40pt;
    width: 100%;
    line-height: 100%;
    margin-top: 0%;
    text-align: center;
    margin-right: 8%;
    position: relative;
    font-family: 'NHaas-Roman';
    text-transform: uppercase;
}


#serif_font{
    font-family: 'Denton-Reg';
    letter-spacing: 0.04em;
}

#button{
    margin-top: 0%;
    display: flex;
    color: black;
    z-index: 2;
    width: 3%;
    position: relative;
    width:auto;
    height: auto;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 5%;
    font-family: 'NHaas-Roman';
}

#button:hover{
    color: white;
    text-shadow: 0px 0px 5px black;
    transition: 0.3s
}

/* MENU*/

#menu{
    width: 90%;
    height: 100%;
    height: auto;
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-top: 38vh;
    margin-left: 5%;
    margin-right: 5%;
}


.tx_1{
    font-family: 'Denton-Thin';
    font-size:18px ;
    text-transform: uppercase;
    padding: 0%;
    margin: 0%; 
    margin-top: 1%;    
}


h2{
    font-family: 'NHaas-Roman';
    font-size: 30px;
    padding: 0%;
    margin: 0%;
    letter-spacing:-0,2pt;
    line-height:110% ;
    text-transform: uppercase;   
}


#project_1, #project_2, #project_3, #project_4{
    margin-bottom: 3%;
}



#project_1 a:link, #project_2 a:link, #project_3 a:link, #project_4 a:link{
    text-decoration: none;
    color: black;
}

#project_1 a:visited, #project_2 a:visited, #project_3 a:visited, #project_4 a:visited{
    text-decoration: none;
    color: black;;
}

#project_1 a:hover, #project_2 a:hover, #project_3 a:hover, #project_4 a:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px black;
    transition: 0.3s;
}


/* RIGHT SIDE */


.right {
    right: 0;
    box-shadow: 4px 0px 14px 0px black; 
    background-color: black;    
}


figure{
    display: none;
    position: fixed;
    z-index: 2;   
}

figure img{
    display: block;
    margin-top: 32vh;
    top: 0;
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
    height: auto;  
}


#intro{
    font-family: 'NHaas-Roman';
    top: 0;
    font-size:20px ;
    text-transform: uppercase;
    margin-top: 42vh;
    display: block;
    position: absolute;
    text-align: left;
    color: white;
    margin-right: 6%;
    margin-left: 6%;    
}

/*****************************PROJECTS PAGES****************************/
#secondPage{
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: white;
}


#title:link, :visited{
    width: 100%;
    color: black;
    text-decoration: none;
}

#title:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 6px black;
    transition: 0.3s;
}


h3{
    font-family: 'NHaas-Roman';
    font-size: 30px;
    padding: 0%;
    width: 100%;
    color:black;
    margin-top: 1%;
    margin: 0%;
    letter-spacing:-0,2px;
    line-height:110% ;
    text-transform: uppercase;   
}


#section_1{
    width: 80%;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    margin-left: 5%;
    margin-right: 15%;
    margin-bottom: 5%;    
}

#tx_2{
    font-family: 'NHaas-Light';
    margin-top: 20px;
    font-size: 18px;
    margin-left: 15%;
    line-height: auto;
    width: 75%;
    color: black;
    text-align: left;
}


#tx_3{
    font-family: 'NHaas-Roman';
    font-size: 22px;
    text-align: left;
    margin-left: 0%;
}


.bg_b{
    background-color: black;
}


#videoContainer{
    margin-top: 40vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto; 
     
}

iframe {
    border: none;
    margin-bottom:50px;
    height: 315px;
    
}

#tx_4{
    font-family: 'NHaas-Light';
    font-size:12px ;
    padding: 0%;
    text-align: left;
    margin: 0%; 
    margin-top: 1%;    
}

#link:link{
    color: black;
}


#link:visited{
    color: black;
}

#link:hover{
    color: white;
    text-shadow: 0px 0px 5px black;
    transition: 0.3s
}

#p_img{
    margin-bottom: 50px;
}

#author{
    font-family: 'NHaas-Light';
    font-size: 15px; 
    text-transform: uppercase;
}

#imageContainer{
    margin-top: 40vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;     
}

#roman-italic {
    font-family: 'NHaas-Roman-Italic';
}

#light-italic {
    font-family: 'NHaas-Light-Italic';
}

.tx-white {
    color: white;
    margin-left: 10%;
    margin-right: 10%;  
    font-family: 'NHaas-Light'; 
    font-size: 12px;
    margin-bottom: 50px;
}


